body {
	font-family: arial;
	padding-left: 200px;
}

nav ul {
	list-style: none;
	padding-left: 0;

}
nav li a {
	text-decoration: none;
	text-transform: uppercase;
	background-color: #e5005f;
	color: white;
	padding: 5px 10px;
	margin: 2px 0;
	display: inline-block;
	font-size: larger;
}
nav li a:hover,
#active {
	background-color: #333333;
}
nav {
	padding: 10px 0 0 10px;
	width: 240px;
	position: fixed;
	left: 10px;
		

}
nav ul ~ a {
	display: block;
	text-decoration: none;
	color: #333333;
	text-transform: uppercase;
	font: bigger;
	margin-bottom: 10px;
	font-weight: bold;
}
nav ul ~ a:hover {
	color: #e5005f;
}
main aside p {
background-color: #dddddd;
padding: 5px;

}
main {
	width: 45%;
}
hr {
	height: 10px;
	border: none;
	border-top: 1px solid #dddddd;
}
article img {
	max-width: 100%;
}

.related div {
	
	width: 240px;
	text-align: center;
	}
.related:after {
	content: '';
	display: block;
	clear: both;
}
.related div:nth-of-type(1) {
	float: left;
	margin-left: 60px;
}
.related div:nth-of-type(2) {
	float: right;
	margin-right: 60px;
}
.related img {
	border-radius: 50%;
}
.related div a {
	background-color: #e5005f;
	display: block;
	padding: 10px;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	position: relative;
	margin-top: -20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#scroll-left,
#scroll-right {
	font-size: 24px;
	border:none;
	background-color: transparent;
	cursor: pointer;
	color: #e5005f;
	position: absolute;
	top: 50%;
}
#scroll-left {
	
	left: 0;
	
}
.related {
	position: relative;
}
#scroll-right{
	right: 0;
}
.related h1 {
	background-color: white;
	width: 100px;
	text-align: center;
	margin: 0 auto; /*to put heading on the middle*/
	position: relative;
	z-index: 2; /*changes the layer position to under*/
}
.related hr {
	position: relative;
	top: -20px;
}